*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* background: #A4B0BD; */
    background-image : linear-gradient(to bottom, rgba(20, 21, 24, 0.4), 
    rgba(117, 19, 93, 0.5)),url(https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?cs=srgb&dl=close-up-photo-of-drum-set-995301.jpg&fm=jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
     margin: 50px 30px;
     text-align: center;
     font-size: 80px;
     color: white;
     text-shadow: 4px 4px 6px #000000;    
}

header p {
    font-size: 50px;
    padding-bottom: 50px;
    color: white;
    text-shadow: 3px 3px 4px #000000;
}

/* header{
    background: rgb(136, 132, 134);
    margin: 10px 50px;
    border: 2px solid black;
    border-radius: 6%;
} */

.pads{
    
    display: flex;
    flex-direction: row;
    width: 100%;
} 

.pads > div {
   height: 150px;
   width: 100px;
   flex: 1;

}



.pad1 {
   background: #60d394;
}

.pad1:hover{
    opacity: 0.9;
}

.pad2 {
    background: #d36060;
 }

 .pad2:hover{
    opacity: 0.9;
}

 .pad3 {
    background: #817583;
 }

 .pad3:hover{
    opacity: 0.9;
}

 .pad4 {
    background: #d3d160;
 }

 .pad4:hover{
    opacity: 0.9;
}

 .pad5 {
    background: #6860d3;
 }

 .pad5:hover{
    opacity: 0.9;
}

 .pad6 {
    background: #60b2d3;
 }

 .pad6:hover{
    opacity: 0.9;
}

 @keyframes jump {
     0%{
         bottom: 0%;
         left: 20%;
     }
     50%{
         bottom: 50%;
         left: 50%;
     }
     100%{
         bottom: 0%;
         left: 80%;
     }
 }

 .visuals > div {
     position: absolute;
     height: 50px;
     width: 50px;
     border-radius: 50%;
     bottom: 0px;
     z-index: -1;
 }